Source: ros-foxy-ros2nodl
Section: misc
Priority: optional
Maintainer: Ubuntu Robotics <ubuntu-robotics@lists.launchpad.net>
Build-Depends: debhelper (>= 9.0.0), python3-argcomplete, python3-pytest, python3-pytest-mock, ros-foxy-ament-flake8, ros-foxy-ament-index-python, ros-foxy-ament-lint-auto, ros-foxy-ament-lint-common, ros-foxy-ament-mypy, ros-foxy-nodl-python, ros-foxy-ros2cli, ros-foxy-ros2pkg, ros-foxy-ros2run, ros-foxy-ros-workspace, python3-all, python3-setuptools
Homepage: 
Standards-Version: 3.9.2

Package: ros-foxy-ros2nodl
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, python3-argcomplete, ros-foxy-ament-index-python, ros-foxy-nodl-python, ros-foxy-ros2cli, ros-foxy-ros2pkg, ros-foxy-ros2run, ros-foxy-ros-workspace
Description: CLI tools for NoDL files.
